<div class="notes-icons-container">
    <div class="notes-icon">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon class="icon">format_color_text</mat-icon>
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon class="icon">palette</mat-icon>
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon class="icon">add_alert</mat-icon>
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon class="icon">person_add</mat-icon>
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon class="icon">photo</mat-icon>
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon class="icon">archive</mat-icon>
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon class="icon">more_vert</mat-icon>
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon class="icon" disabled>undo</mat-icon>
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon class="icon" disabled>redo</mat-icon>
        </button>
    </div>
    <!-- <button class="close-button">Close</button> -->
    <button mat-button type="submit" class="close-button">
        Close
    </button>
</div>