
.notes-card-container {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.single-card-unit{
    margin : 0.2rem 0.2rem;
    min-width: 14rem;
    min-height : 8rem;
    background-color: white;
}

.mat-mdc-card-content:last-child {
    padding-bottom: 0px !important;
}

.icons-content {
  display: none;
  transition: opacity 0.3s ease;
}

.single-card-unit:hover .icons-content {
  display: block;
}