<div class="notes-card-container" [ngClass]="{ 'list-view': isListView, 'grid-view': !isListView }">
    <mat-card 
        class="single-card-unit" 
        appearance="outlined" 
        *ngFor="let note of notes"
        [ngStyle]="{ 'background-color': note.color || '#fff' }"  
        >

        <mat-card-header (click)="openEditDialog(note)">
            <mat-card-title>{{ note.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content (click)="openEditDialog(note)">
            <p>{{ note.description }}</p>
        </mat-card-content>
        <mat-card-content class="icons-content">
            <app-notes-icon 
                [noteId]="note.id" 
                [context]="cardContext"
                [hideIcons]="getHiddenIcons()" 
                class="embedded-icons"  
                (archive)="archiveNote(note.id)" 
                (trashed)="onNoteTrashed()" 
                (restore)="restore.emit(note.id)"
                (deleteForever)="deleteForever.emit(note.id)"
                (unarchived)="unarchived.emit(note.id)">
            </app-notes-icon>
        </mat-card-content>
    </mat-card>
</div>