<div class="body-search-bar" #container (document:click)="onClickOutside($event, container)">

    <!-- Initial Simple Input View -->
    <div class="intial-container" *ngIf="showButtons">
        <input type="text" placeholder="Take a note..." class="search-bar" (focusin)="hideButtons()" />
        <div class="body-buttons">
            <button mat-icon-button aria-label="check_box">
                <mat-icon>check_box</mat-icon>
            </button>
            <button mat-icon-button aria-label="brush"> 
                <mat-icon>brush</mat-icon>
            </button>
            <button mat-icon-button aria-label="photo">
                <mat-icon>photo</mat-icon>
            </button>
        </div>
    </div>

    <!-- Expanded Form View -->
    <div class="form-container" *ngIf="!showButtons">
        <form [formGroup]="notesForm" (ngSubmit)="onSubmit()">
            <div class="my-notes-input">

                <mat-form-field class="title-field" appearance="outline">
                    <!-- <mat-label>Title</mat-label> -->
                    <input matInput formControlName="title" placeholder="Title" />
                </mat-form-field>

                <mat-form-field class="note-field" appearance="outline">
                    <!-- <mat-label>Take a Note...</mat-label> -->
                    <input matInput formControlName="description" placeholder="Take a Note..." />
                </mat-form-field>

                <div class="notes-icons-container">
                    <div class="notes-icon">
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                            <mat-icon class="icon">format_color_text</mat-icon>
                        </button>

                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                            <mat-icon class="icon">palette</mat-icon>
                        </button>

                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                            <mat-icon class="icon">add_alert</mat-icon>
                        </button>

                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                            <mat-icon class="icon">person_add</mat-icon>
                        </button>

                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                            <mat-icon class="icon">photo</mat-icon>
                        </button>

                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                            <mat-icon class="icon">archive</mat-icon>
                        </button>

                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                            <mat-icon class="icon">more_vert</mat-icon>
                        </button>

                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                            <mat-icon class="icon" disabled>undo</mat-icon>
                        </button>

                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                            <mat-icon class="icon" disabled>redo</mat-icon>
                        </button>
                    </div>
                    <!-- <button class="close-button">Close</button> -->
                     <button mat-button type="submit" class="close-button">
                        Close
                    </button>
                </div>


            </div>
        </form>
    </div>

</div>