<mat-card class="example-card my-card" appearance="outlined">
    <div class="google">
        <span>G</span>
        <span>o</span>
        <span>o</span>
        <span>g</span>
        <span>l</span>
        <span>e</span>
    </div>
    <div class="login">Login</div>
    <div class="desc">Use Your Google Account</div>
    <mat-card-content class="my-form-padding">

        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="example-form">
            <!-- Email Field -->
            <mat-form-field class="example-full-width my-form-field-margin" appearance="outline">
                <mat-label>Email or Phone*</mat-label>
                <input matInput formControlName="email" id="email" />
                <mat-error *ngIf="userForm.get('email')?.hasError('required')">
                    Email is required.
                </mat-error>
                <mat-error *ngIf="userForm.get('email')?.hasError('email')">
                    Enter a valid email address.
                </mat-error>
            </mat-form-field>

            <!-- Password Field -->
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password*</mat-label>
                <input matInput type="password" id="password" formControlName="password" />
                <mat-error *ngIf="userForm.get('password')?.hasError('required')">
                    Password is required.
                </mat-error>
                <mat-error *ngIf="userForm.get('password')?.hasError('minlength')">
                    Password must be at least 6 characters.
                </mat-error>

            </mat-form-field>

            <div class="footer-section">
                <p class="my-link">Forgot Password?</p>
                <div class="footer">
                    <span class="my-link">Create account</span>
                    <button mat-flat-button color="primary" type="submit" [disabled]="userForm.invalid" class="my-custom-login-button">
                        Login
                    </button>
                </div>
            </div>
        </form>

    </mat-card-content>
</mat-card>