<mat-card class="example-card my-card" appearance="outlined">
    <div class="google">
        <span>G</span>
        <span>o</span>
        <span>o</span>
        <span>g</span>
        <span>l</span>
        <span>e</span>
    </div>
    <div class="login">Login</div>
    <div class="desc">Use Your Google Account</div>
    <mat-card-content class="my-form-padding">
        <form class="example-form">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email or Phone*</mat-label>
                <input matInput class="my-email-input" />
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password*</mat-label>
                <input matInput />
            </mat-form-field>

        </form>
    </mat-card-content>
    <div class="footer-section">
        <p>forgot Password?</p>
        <div class="footer">
            <!-- <div> -->
                <span>Create account</span>
            <!-- </div> -->
            <!-- <div> -->
                <button mat-flat-button variant="filled">Basic</button>
            <!-- </div> -->
        </div>
    </div>
</mat-card>